<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="../node_modules/mocha/mocha.js"></script>
    <script src="../node_modules/chai/chai.js"></script>
    <script src="../node_modules/sinon/pkg/sinon.js"></script>
    <script src="../node_modules/wct-mocha/wct-mocha.js"></script>
</head>
<body>

<sk-config
        theme="jquery"
        base-path="../src"
        lang="ru"
        id="skConfig"
></sk-config>

<sk-button id="skButton" button-type="primary">
    <span slot="label">SkButton</span>
    <template id="SkButtonTpl">
        <link rel="stylesheet" href="{{ themePath }}/jquery-theme.css">
        <link rel="stylesheet" href="{{ themePath }}/theme.css">
        <link rel="stylesheet" href="{{ themePath }}/jquery-ui.css">
        <button id="{{ id }}Button" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
            <span class="sk-prop-in-my-label ui-button-text"></span>
        </button>
    </template>
</sk-button>
<script type="module">
    import { whenSkRendered } from '../node_modules/sk-core/src/rd-util.js';

    import { SkConfig } from '../node_modules/sk-core/src/sk-config.js';
    import { SkButton } from '../node_modules/sk-button/src/sk-button.js';

    customElements.define('sk-config', SkConfig);
    customElements.define('sk-button', SkButton);

    suite('<sk-button>', () => {

        suiteSetup(() => {

        });

        test('is sk-button rerendered width variable bind', (done) => {

            let element = document.getElementById('skButton');
            //let config = document.getElementById('skConfig');
            //config.setAttribute('theme', 'jquery');
            element.whenRendered(() => {
                element.myLabel = 'test';
                chai.assert(element.el.querySelector('span.sk-prop-in-my-label').innerHTML === 'test');
                done();
            });

        });
    });
</script>
</body>
</html>