<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="../node_modules/mocha/mocha.js"></script>
    <script src="../node_modules/chai/chai.js"></script>
    <script src="../node_modules/sinon/pkg/sinon.js"></script>
    <script src="../node_modules/wct-mocha/wct-mocha.js"></script>
</head>
<body>
<sk-config
        theme="antd"
        base-path="/node_modules/sk-core/src"
        theme-path="/node_modules/sk-theme-antd"
        lang="ru"
></sk-config>

<sk-accordion id="skAccordion">
    <sk-tab title="foo">
        some foo tab contents
    </sk-tab>
    <sk-tab title="bar">
        some bar tab contents
    </sk-tab>
    <sk-tab title="baz">
        some baz tab contents
    </sk-tab>
</sk-accordion>

<sk-accordion id="skAccordion2">
    <sk-tab title="foo">
        some foo tab contents
    </sk-tab>
    <template id="SkAccordionTpl">
        <link rel="stylesheet" href="{{ themePath }}/antd.min.css">
        <link rel="stylesheet" href="{{ themePath }}/antd-theme.css">
        <style>
            .ant-tabs-nav-wrap, .ant-tabs-nav {
                max-height: 40px;
            }
        </style>
        <div class="ant-list ant-list-lg ant-list-split ant-list-bordered ant-list-something-after-last-item">
            <div class="ant-spin-nested-loading">
                <div class="ant-spin-container">
                    <div class="ant-list-items">
                    </div>
                </div>
            </div>
        </div>
        <div id="skAccordion2Internal">SkAccordion2</div>
    </template>

</sk-accordion>

<script type="module">
    import { whenSkRendered } from '../node_modules/sk-core/src/rd-util.js';
    import { SkAccordion } from '../node_modules/sk-accordion/src/sk-accordion.js';

    customElements.define('sk-accordion', SkAccordion);

    suite('<sk-tabs>', () => {

        suiteSetup(() => {

        });

        test('is sk-accordion rendered', (done) => {

            const element = document.getElementById('skAccordion');

            element.whenRendered(() => {
                chai.assert.instanceOf(element, SkAccordion);
                done();
            });
        });

        test('is sk-accordion2 templated', (done) => {

            let element = document.getElementById('skAccordion2')

            element.whenRendered(() => {
                let el = element.shadowRoot.querySelector('#skAccordion2Internal');
                chai.assert(el.innerHTML === 'SkAccordion2');
                done();
            });
        });
    });
</script>
</body>
</html>