<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="../node_modules/mocha/mocha.js"></script>
    <script src="../node_modules/chai/chai.js"></script>
    <script src="../node_modules/sinon/pkg/sinon.js"></script>
    <script src="../node_modules/wct-mocha/wct-mocha.js"></script>
</head>
<body>
<sk-config
        theme="jquery"
        base-path="../src"
        lang="ru"
        id="skConfig"
></sk-config>

<sk-navbar id="skNavbar" align="top">
    navbar navbar navbar
</sk-navbar>

<sk-navbar id="skNavbar2" auto-open>
    navbar2 navbar2 navbar2
    <template id="SkNavbarTpl">
        <link rel="stylesheet" href="{{ themePath }}/theme.css">
        <link rel="stylesheet" href="{{ themePath }}/jquery-ui.css">
        <link rel="stylesheet" href="{{ themePath }}/jquery-theme.css">

        <div class="sk-navbar-panel">

        </div>
        <div class="sk-navbar">

        </div>
        <div id="skNavbar2Internal">SkNavbar2</div>
    </template>
</sk-navbar>

<script type="module">
    import { whenSkRendered } from '../node_modules/sk-core/src/rd-util.js';
    import { SkNavbar } from '../node_modules/sk-navbar/src/sk-navbar.js';
    import { SkConfig } from '../node_modules/sk-core/src/sk-config.js';

    customElements.define('sk-config', SkConfig);
    customElements.define('sk-navbar', SkNavbar);

    suite('<sk-navbar>', () => {

        suiteSetup(() => {

        });

        test('is sk-navbar rendered', (done) => {

            const element = document.getElementById('skNavbar');

            element.whenRendered(() => {
                chai.assert.instanceOf(element, SkNavbar);
                done();
            });
        });

        test('is sk-navbar2 templated', (done) => {

            let element = document.getElementById('skNavbar2');
            element.whenRendered(() => {
                let el = element.shadowRoot.querySelector('#skNavbar2Internal');
                chai.assert(el.innerHTML === 'SkNavbar2');
                done();
            });
        });
    });
</script>
</body>
</html>